.messageBox {
  max-width: 85%;
  display: flex;
  /* gap: 10px; */
  align-items: flex-start;
  flex-direction: column;
  align-self: flex-start;

  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit  */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.msgText.msgText.userMessage {
  align-self: flex-end;
}
.messageCover {
  display: flex;
  flex-direction: column;
  user-select: none;
}
.messageCover * {
  user-select: text;
}

.msgText {
  font-size: 0.9rem;
  /* background-color: #1d90f5; */
  margin-bottom: 5px;
  /* padding: 10px 15px; */
  background-color: #424656;
  border-radius: 20px 20px 20px 6px / 20px 20px 20px 6px;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  transition: filter 500ms ease-in-out;
}
.msgText.userMessage.highlight {
  filter: brightness(1.2);
}
.msgText.highlight {
  filter: brightness(1.6);
}
/* .msgText.userMessage {
  padding: 10px 10px 10px 15px;
} */

.msgSenderInfo {
  font-size: 0.75rem;
  font-weight: 600;
  color: #7d7e81;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: flex-start;
  padding: 5px 0 10px;
}
.msgSenderName {
  color: rgb(184, 179, 179);
}

.messageBox.userMessage {
  align-self: flex-end;
}
.msgSenderInfo.userMessage {
  align-self: flex-end;
}
.msgText.userMessage {
  border-radius: 20px 6px 20px 20px / 20px 6px 20px 20px;
  background-color: #1d90f5;
}

.msg {
  padding: 10px 15px 10px;
}
.msgText.userMessage .msg {
  padding: 10px 10px 10px 15px;
}

.extraInfo {
  align-self: center;
  margin: 15px 0;

  color: #8696a0;
  font-size: 0.9rem;
  padding: 2px 15px 5px;
  border-radius: 20px;
  background-color: #202c33;
  box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb), 0.13);
}

.msgStatus {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0.98);
}
.msgStatus > * {
  position: absolute;
  bottom: 6px;
  right: 7px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.msgStatus > svg.hide {
  opacity: 0;
}
.som {
  display: inline-block;
  width: 20px;
}
.svgSeen {
  color: #22f3fe;
}

@media only screen and (max-width: 700px) {
  .msgText {
    font-size: 1rem;
  }
  .extraInfo {
    font-size: 0.95rem;
  }
}
