.userInfo {
  width: 100%;
  max-width: 500px;
  padding: 30px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userInfo > h4 {
  text-align: center;
}

.currentuserInfo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userInfoField > td {
  overflow-wrap: break-word;
  word-break: break-all;
  padding-bottom: 15px;
}
.userAvatar {
  align-self: center;
  margin: 30px 0;
}
