.chatApp {
  height: 95%;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: 'Segoe UI Variable', sans-serif;
}
.chatSection {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  background-color: #18191a;
  border: 1px solid #30363d;
  /* box-shadow: 0px 0px 2px 5px #30363d; */
  border-radius: 6px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.chatSection > .chatMembers {
  width: 0;
  flex-grow: 1;
}
.chatSection > .chatGroup {
  width: 0;
  flex-grow: 0.9;
}
header > h1 {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .chatApp {
    padding: 0px;
    margin-top: 0;
  }
  .chatApp > header {
    display: none;
  }
  .chatSection {
    border: 0;
    height: 100%;
  }
}
