.chatRoomBox {
  /* background-color: #323644; */
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 72px;
  position: absolute;
  width: 100%;
  background-color: #1d1b1b;
  transition: background-color 60ms ease-in-out;
}
.chatRoomBox.selected {
  background-color: #303135;
}
.chatRoomBox:hover {
  background-color: #202c33;
  background-color: #303135b3;
}
.addChatRoom {
  color: #1d90f5;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.chatRoomDetail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #afb7bc26;
}
.chatRoomImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatRoomMsg {
  padding-top: 2px;
  font-size: 0.9rem;
  color: #8696a0;
}
.chatRoomMsg > span {
  display: block;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatRoomName {
  display: flex;
  padding-right: 15px;
  font-size: 0.9rem;
}
.chatRoomName > span {
  color: #8696a0;
}
.chatRoomName > h4 {
  flex-grow: 1;
}
