.chatRoomBox {
  /* background-color: #323644; */
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 72px;
  position: absolute;
  width: 100%;
  background-color: #1d1b1b;
  transition: background-color 60ms ease-in-out;
}
.chatRoomBox.selected {
  background-color: #303135;
}
.chatRoomBox:hover {
  background-color: #202c33;
  background-color: #303135b3;
}
.addChatRoom {
  color: #1d90f5;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.chatRoomDetail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #afb7bc26;
}
.chatRoomImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatRoomMsg {
  padding-top: 2px;
  font-size: 0.9rem;
  display: flex;
  color: #8696a0;
}
.chatRoomMsg > span {
  display: inline-block;
  width: 10px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  line-height: 1.3rem;
}

.chatRoomName {
  display: flex;
  padding-right: 15px;
}
.chatRoomName > span:nth-child(2) {
  font-size: 0.7rem;
  line-height: 0.9rem;
  padding: 3px 0 0 6px;
  color: #8696a0;
}
.chatRoomName > span:first-child {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #e9edef;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 1px;
  padding-right: 15px;
  flex-grow: 1;
}
