.chatList {
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  color: #e8ebec;
  scrollbar-width: thin;
  scrollbar-color: #373f44;
}

.chatList::-webkit-scrollbar {
  width: 4px;
}

.chatList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chatList::-webkit-scrollbar-thumb {
  background-color: #373f44;
  border-radius: 10px;

  /* outline: 1px solid slategrey; */
}
.viewChat {
  display: flex;
  flex-direction: column;
}
.initialSpace {
  flex-grow: 1;
  /* min-height: 10px; */
}
