ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 15px;
}
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn {
  border-radius: 36px;
  background: #fdda50d7;
  background: #ffd014f0;
  color: rgb(40, 38, 38);
}
header {
  display: flex;
  align-items: center;
}
header img {
  width: 250px;
  margin-right: 40px;
}
header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
}
header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
