body {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #373f44;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #373f44;
  border-radius: 10px;

  /* outline: 1px solid slategrey; */
}
.mainContent {
  font-size: 1.1rem;
  justify-content: center;
}

body {
  -webkit-tap-highlight-color: transparent;
}
