/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('http://fonts.cdnfonts.com/css/segoe-ui-variable');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #121212;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  height: 1px;
  min-height: calc(var(--vh, 1vh) * 100);
}

#root {
  height: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#root > *:nth-child(2) {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
